blinker
cairocffi
CairoSVG
certifi
cffi
charset-normalizer
click
colorama
cryptography
cssselect2
defusedxml
firebase
Flask
fpdf
gcloud
googleapis-common-protos
httplib2
idna
importlib-metadata
itsdangerous
Jinja2
jws
MarkupSafe
numpy
oauth2client
pandas
pillow
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
pycryptodome
pygal
pyparsing
Pyrebase
Pyrebase4
python-dateutil
python-dotenv
python-jwt
pytz
requests
requests-toolbelt
rsa
six
tinycss2
tzdata
urllib3
webencodings
Werkzeug
zipp
